.btn-browse {
    width: 200px !important;
    margin-left: 46px;
    margin-top: 9px;
}
.btn-upload {
    width: 200px !important;
    margin-left: 10px;
}
.c-dropdown {
    margin-top: 10px;
}
.lead-top-fix {
    padding-top: 0px;
}
.pic-centered {
    text-align: center;
    padding: 20px;
}
.bold {
    font-weight: bold !important;
}
.note {
    padding: 10px;
}
.c_correct {
    color: green;
    text-align: left;
    font-size: 22px;
}
.c_wrong {
    color: red;
    text-align: left;
    font-weight: bold !important;
    padding: 10px;
    font-size: 22px;
}
.task_desc_row {
    text-align: left;
    padding: 10px;
    font-size: 18px;
}

.final_result{
    text-align: left;
    padding: 10px;
    font-size: 25px;
}
.task_jumbotron_height_fix{
	padding-top:25px;
	padding-bottom:20px;
}
.f_img_holder{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom:30px;
	
}
.f_img{
	padding:10px;
}
.nav-link{
    font-size: 30px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: white;
}

.upload_file{
	margin:auto;
}
.back_to_task{
	padding:5px;
	padding-top:10px;
}
.navbar-nav{
	font-size:20px;
}
.navbar{
    margin-bottom:0px;
	position: fixed;
}
.note{
	font-size:25px;
}
.big-checkbox {
	width: 30px; 
	height: 30px;
}
.h1_main {
    padding: 0px;
    text-align: center;
    font-size: 40px !important;
}
.h1{
    font-size: 40px !important;
}
.obj_creator{
	font-weight: bold !important;
	text-align: center;
	font-size: 20px !important;
	color: green !important;
}
.pb-v-progress{
    height:70px;
	font-size:30px;
}
.progress {height: 60px;}
.pb-v-text{
	padding-top:21px;
	color:black;
	width:230px;
}
/* hotfix: https://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button */
[hidden] {
  display: none !important;
}
.upload_file{
	text-align:center;
}
.regular_button{
	width:230px;
}
.check_btn_label{
	font-size:23px;
}
.nav-logo{
    padding-top:7px;
	padding-right:10px;
	float:left;
}
.chkbox-v-value{
	width:100px;
}
.modal-task-complete{
	font-size:20px;
	text-align:center;
}
.task-completed-img{
	padding:20px;
}
.welcome-msg{
	padding-top:12px;
position:absolute;
right:0;
	width:120px;
}