html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-browse {
    width: 200px !important;
    margin-left: 46px;
    margin-top: 9px;
}
.btn-upload {
    width: 200px !important;
    margin-left: 10px;
}
.c-dropdown {
    margin-top: 10px;
}
.lead-top-fix {
    padding-top: 0px;
}
.pic-centered {
    text-align: center;
    padding: 20px;
}
.bold {
    font-weight: bold !important;
}
.note {
    padding: 10px;
}
.c_correct {
    color: green;
    text-align: left;
    font-size: 22px;
}
.c_wrong {
    color: red;
    text-align: left;
    font-weight: bold !important;
    padding: 10px;
    font-size: 22px;
}
.task_desc_row {
    text-align: left;
    padding: 10px;
    font-size: 18px;
}

.final_result{
    text-align: left;
    padding: 10px;
    font-size: 25px;
}
.task_jumbotron_height_fix{
	padding-top:25px;
	padding-bottom:20px;
}
.f_img_holder{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom:30px;
	
}
.f_img{
    padding:10px;
    width: auto;
    height: auto;
    max-width: 100%;
}
.nav-link{
    font-size: 30px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: white;
}

.upload_file{
	margin:auto;
}
.back_to_task{
	padding:5px;
	padding-top:10px;
}
.navbar-nav{
	font-size:20px;
}
.navbar{
    margin-bottom:0px;
	
}
.note{
	font-size:25px;
}
.big-checkbox {
	width: 30px; 
	height: 30px;
}
.h1_main {
    padding: 0px;
    text-align: center;
    font-size: 40px !important;
}
.h1{
    font-size: 40px !important;
}
.obj_creator{
	font-weight: bold !important;
	text-align: center;
	font-size: 20px !important;
	color: green !important;
}
.pb-v-progress{
    height:70px;
	font-size:20px;
}
.progress{
  height: 60px;
  margin: 25px;
}
.pb-v-text{
	padding-top:21px;
	color:black;
	float:left;
	padding-left:80px;
	text-align:left;
	width:400px;
	
}
/* hotfix: https://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button */
[hidden] {
  display: none !important;
}
.upload_file{
	text-align:center;
}
.regular_button{
	width:230px;
}
.check_btn_label{
	font-size:23px;
}
.nav-logo{
    padding-top:7px;
	padding-right:10px;
	float:left;
}
.chkbox-v-value{
	width:100px;
}
.modal-task-complete{
	font-size:20px;
	text-align:center;
}
.task-completed-img{
	padding:20px;
}
.welcome-msg{
	padding-top:12px;
    position:absolute;
    right:0;
	width:120px;
}
.cs{
    font-size:18px !important;
}
.property_type_img{
    padding:3px;
	padding-right:9px;
}
.app_specs_text{
    padding-left:9px;
	color:black;
	font-size:18px;
}
.centered{
    text-align:center;
}
.footer_spacer{
    height:50px;
}
.starter-template{
	padding-top:20px;
}
.rocket{
  width:100px;
  padding:4px;
  padding-top:10px;
  z-index:0;
}
.upload_square_btn{
  position:fixed;
  top:130px;
  left:10px;
}
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 5rem 5rem;
}
.progress-bar {
    background-color: #C260F0;
}
.upload_square_btn_upper{
	text-align:center;
	padding:4px;
	color:#7E11B0;
}
.upload_square_btn_lower{
	text-align:center;
	padding:4px;
	color:#7E11B0;
}

/* Pulse Grow -------------------------------------> */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* Pulse Grow -------------------------------------> */